In [1]:
import numpy as np
import pandas as pd

In [4]:
mrt_df = pd.read_csv('Data\LTA API\PassengerVolumeByTrainStations\\transport_node_train_202403.csv')

In [5]:
mrt_df.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-03,WEEKDAY,11,TRAIN,NS7,21943,15130
1,2024-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,13062,14512
2,2024-03,WEEKDAY,16,TRAIN,SW4,2124,3233
3,2024-03,WEEKENDS/HOLIDAY,16,TRAIN,SW4,1532,1736
4,2024-03,WEEKENDS/HOLIDAY,10,TRAIN,CC5,1886,2659

In [10]:
mrt_df.describe()

       TIME_PER_HOUR  TOTAL_TAP_IN_VOLUME  TOTAL_TAP_OUT_VOLUME
count    6820.000000          6820.000000           6820.000000
mean       13.339003         12450.874633          12451.175220
std         6.116053         19407.148580          19534.121205
min         0.000000             0.000000              0.000000
25%         9.000000          1850.750000           1959.000000
50%        14.000000          5135.000000           5243.500000
75%        19.000000         14960.000000          14600.500000
max        23.000000        337672.000000         330459.000000

In [14]:
mrt_thomson_ec_df = mrt_df[mrt_df['PT_CODE'] == 'NS7'].copy()

In [15]:
mrt_thomson_ec_df

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-03,WEEKDAY,11,TRAIN,NS7,21943,15130
1,2024-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,13062,14512
216,2024-03,WEEKDAY,18,TRAIN,NS7,36325,48268
217,2024-03,WEEKENDS/HOLIDAY,18,TRAIN,NS7,20645,16063
886,2024-03,WEEKDAY,20,TRAIN,NS7,19244,34300
887,2024-03,WEEKENDS/HOLIDAY,20,TRAIN,NS7,18438,16478
1330,2024-03,WEEKDAY,5,TRAIN,NS7,37811,2819
1331,2024-03,WEEKENDS/HOLIDAY,5,TRAIN,NS7,9111,1698
1572,2024-03,WEEKDAY,21,TRAIN,NS7,19658,36343
1573,2024-03,WEEKENDS/HOLIDAY,21,TRAIN,NS7,18280,17306
1806,2024-03,WEEKDAY,16,TRAIN,NS7,19483,25911
1807,2024-03,WEEKENDS/HOLIDAY,16,TRAIN,NS7,16959,11949
2232,2024-03,WEEKDAY,10,TRAIN,NS7,26116,17839
2233,2024-03,WEEKENDS/HOLIDAY,10,TRAIN,NS7,15714,13014
2326,2024-03,WEEKDAY,22,TRAIN,NS7,15173,33095
2327,2024-03,WEEKENDS/HOLIDAY,22,TRAIN,NS7,17120,18234
2534,2024-03,WEEKENDS/HOLIDAY,12,TRAIN,NS7,12813,12492
2535,2024-03,WEEKDAY,12,TRAIN,NS7,17195,13838
3348,2024-03,WEEKENDS/HOLIDAY,23,TRAIN,NS7,9427,10257
3349,2024-03,WEEKDAY,23,TRAIN,NS7,6869,17908
3458,2024-03,WEEKENDS/HOLIDAY,6,TRAIN,NS7,19204,10401
3459,2024-03,WEEKDAY,6,TRAIN,NS7,55093,16153
3576,2024-03,WEEKDAY,13,TRAIN,NS7,16908,14911
3577,2024-03,WEEKENDS/HOLIDAY,13,TRAIN,NS7,13519,11980
3602,2024-03,WEEKENDS/HOLIDAY,7,TRAIN,NS7,21207,17458
3603,2024-03,WEEKDAY,7,TRAIN,NS7,66319,45775
3854,2024-03,WEEKENDS/HOLIDAY,9,TRAIN,NS7,19736,14605
3855,2024-03,WEEKDAY,9,TRAIN,NS7,37756,25899
4172,2024-03,WEEKDAY,8,TRAIN,NS7,43924,42857
4173,2024-03,WEEKENDS/HOLIDAY,8,TRAIN,NS7,18129,17798
4520,2024-03,WEEKENDS/HOLIDAY,14,TRAIN,NS7,13604,10370
4521,2024-03,WEEKDAY,14,TRAIN,NS7,14428,13616
4962,2024-03,WEEKDAY,19,TRAIN,NS7,23658,38563
4963,2024-03,WEEKENDS/HOLIDAY,19,TRAIN,NS7,17696,15733
4988,2024-03,WEEKDAY,17,TRAIN,NS7,36439,39656
4989,2024-03,WEEKENDS/HOLIDAY,17,TRAIN,NS7,22549,15430
5880,2024-03,WEEKENDS/HOLIDAY,0,TRAIN,NS7,1653,1974
5881,2024-03,WEEKDAY,0,TRAIN,NS7,801,3057
6776,2024-03,WEEKDAY,15,TRAIN,NS7,14699,16832
6777,2024-03,WEEKENDS/HOLIDAY,15,TRAIN,NS7,14299,11086